# Notebook for getting and wrangling the Canadian cities population origins data

In [83]:
import pandas as pd
import numpy as np
from functools import reduce

### Reading all data obtained from Canada's Government Website from the 2016 Census.
https://www12.statcan.gc.ca/census-recensement/index-eng.cfm

In [84]:
torontopop = pd.read_csv('citiespopdata/Torontopop.csv')
montrealpop = pd.read_csv('citiespopdata/Montrealpop.csv')
vancouverpop = pd.read_csv('citiespopdata/Vancouverpop.csv')
calgarypop = pd.read_csv('citiespopdata/Calgarypop.csv')
edmontonpop = pd.read_csv('citiespopdata/Edmontonpop.csv')
ottawapop = pd.read_csv('citiespopdata/Ottawapop.csv')
quebecpop = pd.read_csv('citiespopdata/QuebecCitypop.csv')
winnipegpop = pd.read_csv('citiespopdata/Winnipegpop.csv')
londonpop = pd.read_csv('citiespopdata/Londonpop.csv')
halifaxpop = pd.read_csv('citiespopdata/Halifaxpop.csv')

In [85]:
citiespop = [calgarypop, torontopop, vancouverpop, halifaxpop, edmontonpop,
            montrealpop, quebecpop, ottawapop, winnipegpop, londonpop]
city = ['Toronto', 'Montreal', 'Calgary', 'Ottawa', 'Edmonton',
             'Winnipeg', 'Vancouver', 'Quebec City', 'Halifax', 'London']

In [86]:
torontopop.head()

                                        City  Toronto        a        b
0                                      Total  5862855  3985285  1877565
1          North American Aboriginal origins    73970     6795    67175
2      First Nations (North American Indian)    56655     5300    51350
3                                      Inuit     1360      120     1245
4                                      Métis    17865     1375    16490

### Getting only the total number of descents

In [87]:
for i in citiespop:
    a = list(i.columns)
    i.rename(columns={a[0]: 'City'}, inplace = True)
    i.drop(a[2:4], axis = 1, inplace = True)
    i.sort_values(by = a[1],  ascending = False, inplace = True)
    i.set_index('City', inplace = True)

In [88]:
#for i in citiespop:
#    print(i.head())

In [89]:
torontopop.head(5)

                                      Toronto
City
Total                                 5862855
  European origins                    2760845
  Asian origins                       2437365
    British Isles origins             1287255
    East and Southeast Asian origins  1134050

### Merging all cities tables

In [90]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='City'), citiespop)

In [91]:
df_final.to_csv('poptotalsorigins.csv')

In [93]:
df_final.head()

,Calgary,Toronto,Vancouver,Halifax,Edmonton,Montreal,Quebec City,Ottawa,Winnipeg,London
City,,,,,,,,,,
Total,1374650,5862855,2426230,397630,1297280,4009790,779085,973345,761540,486505
European origins,818205,2760845,1195185,276195,814405,1721335,279745,623750,503280,353380
British Isles origins,525560,1287255,763525,228910,470480,413005,58610,412020,258245,242545
Asian origins,384195,2437365,1128155,33575,288745,508290,14525,180915,161845,58765
English,298865,732555,470345,121795,258300,138315,11260,204965,147565,147630

### Calculating the percentages

In [94]:
df_final = df_final.transpose()

In [68]:
df_final= df_final.divide(df_final['Total'], axis=0)

In [69]:
df_final.head()

City,Total,European origins,British Isles origins,Asian origins,English,Other North American origins,Canadian,Western European origins (except French origins),Scottish,East and Southeast Asian origins,...,Breton,Malinké,Burkinabe,Corsican,Djiboutian,Maure,Guadeloupean,Martinican,Montserratan,Hmong
Calgary,1.0,0.595210,0.382323,0.279486,0.217412,0.213120,0.200742,0.190074,0.175154,0.156774,...,0.000018,0.000015,0.000015,0.000007,0.000007,0.000007,0.000000,0.000000,0.000000,0.000000
Toronto,1.0,0.470905,0.219561,0.415730,0.124949,0.134230,0.127406,0.067556,0.092747,0.193430,...,0.000010,0.000038,0.000017,0.000010,0.000036,0.000040,0.000008,0.000026,0.000074,0.000009
Vancouver,1.0,0.492610,0.314696,0.464983,0.193858,0.145883,0.136510,0.128729,0.140578,0.313183,...,0.000019,0.000000,0.000008,0.000031,0.000000,0.000043,0.000004,0.000010,0.000008,0.000047
Halifax,1.0,0.694603,0.575686,0.084438,0.306302,0.411325,0.384365,0.142293,0.285378,0.032329,...,0.000000,0.000025,0.000025,0.000000,0.000000,0.000000,0.000000,0.000025,0.000000,0.000000
Edmonton,1.0,0.627779,0.362667,0.222577,0.199109,0.217197,0.205387,0.211442,0.160686,0.122117,...,0.000027,0.000054,0.000054,0.000069,0.000119,0.000027,0.000000,0.000000,0.000015,0.000000

In [70]:
df_final.to_csv('CanOriginsPercentage.csv')

In [71]:
df_final.drop(['Total','  European origins','  Asian origins', '  Other North American origins', '  African origins',
'  North American Aboriginal origins', '  Latin, Central and South American origins', '  Caribbean origins',
 '  Oceania origins', '    British Isles origins',         
           '    Western European origins (except French origins)',  '    East and Southeast Asian origins',
 '    Eastern European origins', '    South Asian origins',
 '    French origins', '    Northern European origins (except British Isles origins)',
 '    Southern European origins',  '    West Central Asian and Middle Eastern origins',
     '    First Nations (North American Indian)',  '    Métis',
 '    American', '    Southern and East African origins',  '    Central and West African origins',
 '    North African origins',
 '    Other African origins',
 '    Other European origins',
     '    Aboriginal from Central/South America (except Arawak and Maya)',
    '    Pacific Islands origins',
 '    Other Asian origins',], axis =1, inplace = True)

In [72]:
df_final.reset_index(inplace = True)

In [73]:
df_final.rename(index=str, columns={'index': 'City'}, inplace = True)

In [74]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [75]:
num_top_pop = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['City']
for ind in np.arange(num_top_pop):
    try:
        columns.append('{}{} Most Common Origin'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Origin'.format(ind+1))

# create a new dataframe
ehtnical_origins_sorted = pd.DataFrame(columns=columns)
ehtnical_origins_sorted['City'] = df_final['City']

for ind in np.arange(df_final.shape[0]):
    ehtnical_origins_sorted.iloc[ind, 1:] = return_most_common_venues(df_final.iloc[ind, :], num_top_pop)
   

ehtnical_origins_sorted

,City,1st Most Common Origin,2nd Most Common Origin,3rd Most Common Origin,4th Most Common Origin,5th Most Common Origin,6th Most Common Origin,7th Most Common Origin,8th Most Common Origin,9th Most Common Origin,10th Most Common Origin
0,Calgary,English,Canadian,Scottish,German,Irish,French,Chinese,Ukrainian,East Indian,Filipino
1,Toronto,Canadian,English,Chinese,East Indian,Irish,Scottish,Italian,Filipino,German,French
2,Vancouver,Chinese,English,Scottish,Canadian,Irish,East Indian,German,French,Filipino,Ukrainian
3,Halifax,Canadian,English,Scottish,Irish,French,German,Dutch,Acadian,Welsh,Italian
4,Edmonton,Canadian,English,German,Scottish,Irish,Ukrainian,French,Polish,East Indian,Chinese
5,Montreal,Canadian,French,Italian,Irish,English,Haitian,Scottish,Chinese,Québécois,German
6,Quebec City,Canadian,French,Irish,Québécois,Scottish,English,German,Italian,Spanish,Belgian
7,Ottawa,Canadian,Irish,English,French,Scottish,German,Italian,Chinese,Polish,Dutch
8,Winnipeg,English,Canadian,Scottish,German,Ukrainian,Irish,French,Filipino,Polish,East Indian
9,London,English,Canadian,Scottish,Irish,German,French,Dutch,Italian,Polish,Portuguese

In [76]:
ehtnical_origins_sorted.set_index('City', inplace = True)

In [77]:
ehtnical_origins_sorted.sort_index()

,1st Most Common Origin,2nd Most Common Origin,3rd Most Common Origin,4th Most Common Origin,5th Most Common Origin,6th Most Common Origin,7th Most Common Origin,8th Most Common Origin,9th Most Common Origin,10th Most Common Origin
City,,,,,,,,,,
Calgary,English,Canadian,Scottish,German,Irish,French,Chinese,Ukrainian,East Indian,Filipino
Edmonton,Canadian,English,German,Scottish,Irish,Ukrainian,French,Polish,East Indian,Chinese
Halifax,Canadian,English,Scottish,Irish,French,German,Dutch,Acadian,Welsh,Italian
London,English,Canadian,Scottish,Irish,German,French,Dutch,Italian,Polish,Portuguese
Montreal,Canadian,French,Italian,Irish,English,Haitian,Scottish,Chinese,Québécois,German
Ottawa,Canadian,Irish,English,French,Scottish,German,Italian,Chinese,Polish,Dutch
Quebec City,Canadian,French,Irish,Québécois,Scottish,English,German,Italian,Spanish,Belgian
Toronto,Canadian,English,Chinese,East Indian,Irish,Scottish,Italian,Filipino,German,French
Vancouver,Chinese,English,Scottish,Canadian,Irish,East Indian,German,French,Filipino,Ukrainian
Winnipeg,English,Canadian,Scottish,German,Ukrainian,Irish,French,Filipino,Polish,East Indian

In [78]:
ehtnical_origins_sorted.to_csv('10MostOrigins.csv')

In [79]:
df_final.set_index('City', inplace = True)

In [80]:
df_final.sort_index()

City,English,Canadian,Scottish,German,Irish,French,Chinese,Ukrainian,East Indian,Filipino,...,Breton,Malinké,Burkinabe,Corsican,Djiboutian,Maure,Guadeloupean,Martinican,Montserratan,Hmong
City,,,,,,,,,,,,,,,,,,,,,
Calgary,0.217412,0.200742,0.175154,0.146692,0.143447,0.085865,0.076107,0.066010,0.065926,0.054574,...,0.000018,0.000015,0.000015,0.000007,0.000007,0.000007,0.000000,0.000000,0.000000,0.000000
Edmonton,0.199109,0.205387,0.160686,0.164278,0.143458,0.110192,0.055466,0.123289,0.055690,0.049542,...,0.000027,0.000054,0.000054,0.000069,0.000119,0.000027,0.000000,0.000000,0.000015,0.000000
Halifax,0.306302,0.384365,0.285378,0.113435,0.239092,0.167027,0.019126,0.012964,0.012650,0.006740,...,0.000000,0.000025,0.000025,0.000000,0.000000,0.000000,0.000000,0.000025,0.000000,0.000000
London,0.303450,0.273851,0.219916,0.121304,0.201293,0.096279,0.025642,0.025097,0.017811,0.008787,...,0.000000,0.000031,0.000000,0.000021,0.000103,0.000000,0.000021,0.000000,0.000000,0.000021
Montreal,0.034494,0.437838,0.030958,0.021454,0.059719,0.217030,0.027129,0.008742,0.012092,0.008898,...,0.001274,0.000133,0.000440,0.000228,0.000061,0.000103,0.000197,0.000364,0.000061,0.000007
Ottawa,0.210578,0.299698,0.184934,0.085807,0.216557,0.208148,0.047835,0.026727,0.028669,0.013710,...,0.000139,0.000077,0.000293,0.000057,0.000750,0.000041,0.000010,0.000036,0.000046,0.000000
Quebec City,0.014453,0.712657,0.019484,0.013516,0.050521,0.289789,0.004704,0.001425,0.000911,0.000404,...,0.001720,0.000039,0.000321,0.000122,0.000032,0.000051,0.000154,0.000148,0.000000,0.000000
Toronto,0.124949,0.127406,0.092747,0.046361,0.092852,0.042265,0.119516,0.024618,0.109737,0.046849,...,0.000010,0.000038,0.000017,0.000010,0.000036,0.000040,0.000008,0.000026,0.000074,0.000009
Vancouver,0.193858,0.136510,0.140578,0.091512,0.113491,0.060883,0.205741,0.038908,0.100213,0.055199,...,0.000019,0.000000,0.000008,0.000031,0.000000,0.000043,0.000004,0.000010,0.000008,0.000047
Winnipeg,0.193772,0.171206,0.166426,0.162789,0.127951,0.126198,0.035212,0.152651,0.040438,0.101511,...,0.000092,0.000039,0.000026,0.000013,0.000053,0.000092,0.000000,0.000000,0.000013,0.000000

In [82]:
df_final.to_csv('CaMLPERCENTAGES.csv')

Notebook by Francisco Tosetto da Silva, made for the Capstone Project of the IBM Data Science Professional Certificate.