# Notebook for adding Latitude and Longitude to the Toronto neighbourhoods dataframe.

In [ ]:
import pandas as pd

### Reading the neighbourhoods file.

In [9]:
df = pd.read_csv('Toronto_neighbourhoods_clean.csv')
df.tail()

,Unnamed: 0,Postcode,Borough,Neighbourhood
98,98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,99,M4Y,Downtown Toronto,Church and Wellesley
100,100,M7Y,East Toronto,Business reply mail Processing Centre969 Eastern
101,101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
102,102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

### Removing the repeated column.

In [10]:
df.drop(["Unnamed: 0"], axis = 1, inplace = True)
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

### Size of the dataframe

In [11]:
df.shape

(103, 3)

# Adding coordinates to the dataframe

### Reading Toronto postal codes coordinates file.

In [12]:
coords = pd.read_csv('Geospatial_Coordinates.csv')
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Renaming the Postal Code column for posterior merge.

In [13]:
coords.rename(index=str, columns={'Postal Code': 'Postcode'}, inplace = True)
coords.head(2)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497

### Merging the dataframes, adding Latitude and Longitude to the Neighbourhoods in the dataframe then showing the final dataframe.

In [14]:
df_with_coords = pd.merge(df, coords, how='outer', on ='Postcode')
df_with_coords.head(15)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
13,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389

Notebook by Francisco Tosetto da Silva, made for the Capstone Project of the IBM Data Science Professional Certificate.